/* 
  Fluid Typography Snippet 
  Include these variables in your :root to enable fluid scaling.
  Then add the @media queries below to adjust the base html font-size.
*/

:root {
    --font-from-0: 14; --font-to-0: 18;
    --vw-from-0: calc(1 / 100); --vw-to-0: calc(991 / 100);
    --coefficient-0: calc((var(--font-to-0) - var(--font-from-0)) / (var(--vw-to-0) - var(--vw-from-0)));
    --base-0: calc((var(--font-from-0) - var(--vw-from-0) * var(--coefficient-0)) / 16);

    --font-from-1: 14; --font-to-1: 18;
    --vw-from-1: calc(991 / 100); --vw-to-1: calc(1440 / 100);
    --coefficient-1: calc((var(--font-to-1) - var(--font-from-1)) / (var(--vw-to-1) - var(--vw-from-1)));
    --base-1: calc((var(--font-from-1) - var(--vw-from-1) * var(--coefficient-1)) / 16);

    --font-from-2: 14; --font-to-2: 16;
    --vw-from-2: calc(1440 / 100); --vw-to-2: calc(1920 / 100);
    --coefficient-2: calc((var(--font-to-2) - var(--font-from-2)) / (var(--vw-to-2) - var(--vw-from-2)));
    --base-2: calc((var(--font-from-2) - var(--vw-from-2) * var(--coefficient-2)) / 16);

    --font-from-3: 17; --font-to-3: 24;
    --vw-from-3: calc(1920 / 100); --vw-to-3: calc(5120 / 100);
    --coefficient-3: calc((var(--font-to-3) - var(--font-from-3)) / (var(--vw-to-3) - var(--vw-from-3)));
    --base-3: calc((var(--font-from-3) - var(--vw-from-3) * var(--coefficient-3)) / 16);

    --font-size-4: 1.5;
}

html {
    font-size: calc(var(--font-size-4) * 1rem);
}

@media screen and (max-width: 5120px) { html { font-size: calc(var(--base-3) * 1rem + var(--coefficient-3) * 1vw); } }
@media screen and (max-width: 1920px) { html { font-size: calc(var(--base-2) * 1rem + var(--coefficient-2) * 1vw); } }
@media screen and (max-width: 1440px) { html { font-size: calc(var(--base-1) * 1rem + var(--coefficient-1) * 1vw); } }
@media screen and (max-width: 991px)  { html { font-size: calc(var(--base-0) * 1rem + var(--coefficient-0) * 1vw); } }
